<h1>Add a Book</h1>
<form action="#" method="post">
   <div class="form-group">
       <label for="name">Title:</label>
       <input type="text" maxlength="100" name="name" placeholder="Name of the book">

       <label for="author">Author:</label>
       <input maxlength="100" name="author" placeholder="Author of the book">

       <label for="genre">Genre:</label>
       <input maxlength="100" name="genre" placeholder="Genre of the book">

       <button type="submit">Create</button>
   </div>
</form>